<template>
  <div id="app">
    <div v-if="user">
      <div v-if="user.admin">Админ</div>
      {{ user.email }}
      <button @click="logout">Выйти</button>
      <h1>Задачи</h1>
      <task-form @sended="get_tasks"></task-form>

      <div class="tasks" v-if="tasks">
        <task v-for="task in tasks" :task="task" :key="task.id" @deleted="get_tasks"></task>
      </div>
      <div v-else>
        загрузка задач
      </div>
    </div>
    <div v-else>
      <auth-form @authorized="authorized"/>
      <registration-form/>
    </div>
  </div>
</template>

<script>
import TaskForm from './task_form.vue'
import Task from './task.vue'
import AuthForm from './auth_form.vue'
import RegistrationForm from './registration_form.vue'
import Vue from 'vue'

export default {
  data: function () {
    return {
      tasks: null,
      refresh_token: null,
      token: null,
      user: null
    }
  },
  created: function() {
    this.authorized(
      localStorage.getItem('token'),
      localStorage.getItem('refresh_token')
    )
    this.get_tasks()
  },
  methods: {
    get_tasks: function () {
      this.$http.get('/tasks').then(response => {
        this.tasks = response.body
      }, response => {
        if (response.status == 401) {
          localStorage.removeItem('token')
          this.token = null
        } else {
          console.log('ERRROR!!!!', response)
        }
      })
    },
    authorized: function(token, refreh_token) {
      localStorage.setItem('token', token)
      this.token = token
      console.log(token)
      localStorage.setItem('refresh_token', refreh_token)
      this.token = refreh_token
      console.log(refreh_token)
      Vue.http.headers.common['Authorization'] = 'Bearer ' + token
      this.get_tasks()
      this.$http.get('/users/me').then(response => {
        this.user = response.body
      }, response => {
        this.logout()
      })
    },
    logout: function() {
      localStorage.removeItem('token');
      localStorage.removeItem('refresh_token');
      this.token = null;
      this.refresh_token = null;
      this.tasks = null;
      this.user = null;
    }
  },
  components: {
    'task-form': TaskForm,
    'task': Task,
    'auth-form': AuthForm,
    'registration-form': RegistrationForm
  }
}
</script>

<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>
