<template>
  <div class="auth-form">
    Авторизация
    <input type="text" v-model="username" placeholder="email">
    <input type="text" v-model="password" placeholder="пароль">
    <button type="button" @click="authorize">Войти</button>
  </div>
</template>

<script>
export default {
  name: 'auth-form',
  data: function () {
    return {
      username: 'test@test.ru',
      password: '1234'
    }
  },
  created: function() {

  },
  methods: {
    authorize: function() {
      this.$http.post('/oauth/token', {
        'grant_type': 'password',
        'username': this.username,
        'password': this.password
      }).then(response => {
        this.$emit(
          'authorized',
          response.body.access_token,
          response.body.refresh_token
        )
      })
    }
  }
}
</script>

<style scoped>
  .auth-form {
    padding: 20px 30px;
    display: inline-block;
    vertical-align: top;
  }
  .auth-form input,
  .auth-form button {
    display: block;
    margin: 10px 0;
    border: 1px #ccc solid;
    padding: 5px 15px;
    border-radius: 4px;
  }
  .auth-form button {
    background-color: #41b883;
    border: #41a083;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    float: right;
    cursor: pointer;
  }
</style>
