<template>
  <div class="auth-form">
    <div v-if="registered">Регистрация {{username}} завершена! Можете войти в систему.</div>
    <div v-else>
        Регистрация
        <input type="text" v-model="username" placeholder="email">
        <input type="text" v-model="password" placeholder="пароль">
        <input type="text" v-model="password_confirm" placeholder="подтвердите пароль" 
               :class="{'confirmed': password == password_confirm, 'password-confirmation': password}"
        >
        <button type="button" @click="register">Зарегистрироваться</button>
        <div v-for="k in Object.keys(errors)" :key="k">
            <div v-if="k=='email'">
                email:
                <span v-if="errors[k] == 'has already been taken'">уже используется</span>
                <span v-else>{{errors[k]}}</span>
            </div>
            <div v-else>
                {{k}}: {{errors[k]}}
            </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'registration-form',
  data: function () {
    return {
      username: '',
      password: '',
      password_confirm: '',
      registered: false,
      errors: {}
    }
  },
  created: function() {

  },
  methods: {
    register: function() {
      if (this.password != this.password_confirm) {
          return
      }
      this.$http.post('/users', { user: {
        'email': this.username,
        'password': this.password,
      }}).then(response => {
        this.registered = true
      }).catch(response => {
          console.log(response.body.errors)
          this.errors = response.body.errors
      })
    }
  }
}
</script>

<style scoped>
  .auth-form {
    padding: 20px 30px;
    display: inline-block;
    vertical-align: top;
  }
  .auth-form input,
  .auth-form button {
    display: block;
    margin: 10px 0;
    border: 1px #ccc solid;
    padding: 5px 15px;
    border-radius: 4px;
  }
  .auth-form button {
    background-color: #41b883;
    border: #41a083;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    float: right;
    cursor: pointer;
  }
  .auth-form input.password-confirmation {
      border-color:red;
  }
  .auth-form input.password-confirmation.confirmed {
      border-color: #41b883;
  }
</style>
