<template>
  <div>
    <p>
      <textarea v-model="text" placeholder="Текст задачи"></textarea>
    </p>
    <p>
      <button @click="sendTask">Создать задачу</button>
    </p>
  </div>
</template>

<script>
export default {
  name: 'task-form',
  data: function () {
    return {
      text: ''
    }
  },
  created: function() {

  },
  methods: {
    sendTask: function() {
      this.$http.post('/tasks', { task: {
        text: this.text
      }}).then(response => {
        this.$emit('sended')
        this.text = ''
      })
    }
  }
}
</script>

<style scoped>
</style>
