<template>
<div class="task">
  <input type="checkbox" v-model="task.completed" @change="completed_changed">

  <div v-if="edit" class="edit-block">
    <textarea v-model="task.text" @blur="save" v-focus cols="80"></textarea>
  </div>

  <div v-else @click="edit_task" class="task-text" v-html="textHtml">
  </div>
  <button @click="delete_task" class="delete-task">удалить</button>
  <div class="delete-background"></div>
</div>
</template>

<script>
export default {
  data: function() {
    return {
      edit: false
    }
  },
  methods: {
    delete_task: function() {
      this.$http.delete(this.task.url).then(response => {
        this.$emit('deleted')
      }, response => {
        console.log('ERRROR!!!!')
      })
    },
    edit_task: function() {
      this.edit = true
    },
    save: function() {
      this.$http.put(this.task.url, { task: this.task })
      this.edit = false
    },
    completed_changed: function() {
      this.$http.post(this.task.completed_url, { completed: this.task.completed })
    }
  },
  computed: {
    textHtml: function() {
      return this.task.text.trim().replace(/\n/g, '<br>')
    }
  },
  props: ['task']
}
</script>

<style scoped>
  .edit-block {
    display: inline-block;
  }
  .task-text {
    display: inline-block;
    vertical-align: top;
  }
  .delete-task {
    float: right;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
  }
  .task {
    overflow: hidden;
    clear: both;
    position: relative;
    padding: 10px 20px;
  }
  .delete-background {
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    border-radius: 4px;
    display: none;
  }
  .delete-task:hover ~ .delete-background {
    display: block;
  }
</style>
