<!DOCTYPE html>
<html>
  <head>
    <title>RorTasks</title>
    <%= csrf_meta_tags %>
    <script>
      window.AUTH_TOKEN = document.head.querySelector('[name="csrf-token"]').content;
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
